<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body class="html-class">
  <div class="login-text-signup">
    <p class="fw-lighter">Sign Up to enter</p>
    <p class="fw-bold"> World of </p>
    <p class="fw-bold"> Facetime</p>
  </div>
  <div class="login-image">
    <%= image_tag 'gettyImages.jpeg' , class:"image"%>
  </div>
  <div class="login-box-signup">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages" , resource: resource %>
        
        <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "clear-on-focus", style:" background-color: black;border: 2px solid white; width:300px; height: 50px;"  %><br>
        </div>

        <div class="field">
            <br>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 Characters minnimum)", class: "clear-on-focus", style:" background-color: black;border: 2px solid white; width:300px; height: 50px;"  %>
      
        </div>

        <div class="field">
            <br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "clear-on-focus", style:" background-color: black;border: 2px solid white; width:300px; height: 50px;"  %>
        </div>


        <div class="field">
          <br>
            <%= f.text_field :name , placeholder: "Password Confirmation", class: "clear-on-focus", style:" background-color: black;border: 2px solid white; width:300px; height: 50px;"%>
        </div>

        <div class="field">
          <br>
          <%= f.label :Profile %><br />
            <%= f.file_field :image %> <br />
        </div>


        <div style="padding-top:1px; text-align:center;"><br />
          <%= f.submit "Sign up", class:"btn btn-success" ,style:"width:300px; height: 50px; background-color: #42b72a; border-color: #42b72a;" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" , class: "btn btn-success" %>
  </div>
  <script>
    $(document).ready(function () {
      $('.clear-on-focus').focus(function () {
        $(this).val('');
      });
    });
  </script>
  <style>
    ::placeholder {
      color: grey;
    }
  </style>
</body>

</html>