<div class="user-<%= user_comment.id %>">
    <div class="user-unique-post">
        <% if User.find(user_comment.user_id).image.attached? %>
            <%= image_tag(User.find(user_comment.user_id).image, class:"user-profile-image") %>
        <% else %>
        <% end %>
        <div class="user-info"> 
            <p class="user-post-username"><%= link_to User.find(user_comment.user_id).name, user_profile_page_path(user_comment.user_id), class:"link-to-title" %></p> 
            <p class="user-post-time"><%= user_comment.created_at.strftime("%d/%b/%y") %> </p> 
            <div class="post-content"><%= user_comment.body %></div>
            <% if user_comment.user_id == current_user.id %>
                <%= link_to "Delete", user_post_comment_path(current_user.id, user_comment.post_id, user_comment.id), method: :delete, remote: true, class:"delete-button btn btn-outline-light" %>  
                <%= link_to "Edit", edit_user_post_comment_path(current_user.id, user_comment.post_id, user_comment.id), class:"btn1 btn btn-outline-light" %> 
            <% end %> 
            
        </div>
    </div>
</div>  