<%= form_with(model:[current_user, post], remote:true) do |f| %>
    <div class="modal-body">
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
    
        <div>
            <%= f.label :body %>
            <%= f.text_area :body %>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary"  %>
        
    </div>
<% end %>