<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <% if user_signed_in? %>
        <%=link_to "Facetime", user_posts_path(current_user), class:"navbar-brand" %>
      <% else %>
        <%=link_to "Facetime", new_user_session_path, class:"navbar-brand" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", user_posts_path(current_user), class:"nav-link active" %>
          </li>
        <% end %>
  
          
  
        </ul>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="btn-group dropstart" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Requests
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDarkDropdownMenuLink">
              <% if @allrequests.present? %>
                <% for allrequests in @allrequests %>
                  <li class="friendrequest-<%= allrequests.id %>"> <h6 class="dropdown-header"> You have a request from <%= User.find(allrequests.sender_id).email %> </h6> </li>  
                  <li class="friendrequest-<%= allrequests.id %>"><%= link_to "Accept", user_friendrequest_path(current_user, allrequests.id, friendrequest_id: allrequests.id ), method: :patch, remote:true, class: "dropdown-item" %> <%= link_to "Reject", user_friendrequest_path(current_user, allrequests.id, friendrequest_id: allrequests.id ), method: :delete, remote:true, class: "dropdown-item" %></li>
                <% end %>
              <% else %>
                  <li> <h6 class="dropdown-header"> You have no Request </h6> </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>

    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.image.attached? %>
              <%= image_tag( current_user.image , class: "user-profile-image") %>
            <% else %>
              Options
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDarkDropdownMenuLink">
            
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
              <li><%= link_to "New Post", new_user_post_path(current_user), class:"dropdown-item" %></li>
           
          </ul>
        </li>
      </ul>
    </div>
    <% end %>
  </nav>