You are currently logged in as <%= current_user.email %>
<h1> All Posts </h1>

<% for post in @all_posts %>
    <div class="user-post-<%= post.id %>">
        <p>
            <%= link_to post.title , user_post_path(current_user.id, post.id) %> <br>
            By <%= User.find(post.user_id).email %> <br>
            <% if post.user_id == current_user.id %>
                <%= link_to "Delete", user_post_path(current_user.id, post.id), method: :delete, remote: true %>    
                <%= link_to "Edit", edit_user_post_path(current_user.id, post.id) %> 
            <% end %>
        </p>
    </div>
<% end %>
<%= link_to "New Post", new_user_post_path(current_user) %>
<h2> ALl request </h2>
<% for allrequests in @allrequests %>
    <p class="friendrequest-<%= allrequests.id %>">
        <%= User.find(allrequests.sender_id).email %> <%= link_to "Accept", user_friendrequest_path(current_user, allrequests.id, friendrequest_id: allrequests.id ), method: :patch, remote:true %> <%= link_to "Reject", user_friendrequest_path(current_user, allrequests.id, friendrequest_id: allrequests.id ), method: :delete, remote:true %>
    </p>
<% end %>

<h3> All Friends </h3>

<div id="allfriendslist">
    <% for allfriends in @allfriends_friendrequest_sent %>
            <%= User.find(allfriends.receiver_id).email %>
    <% end %>
    <% for allfriends in @allfriends_friendrequest_received %>
            <%= render 'partial/all_friends_list', allfriends:allfriends %>
    <% end %>    
</div>
<br>
<h4> All USers </h4>
<% for user in @allusers %>
    <% if user.id== current_user.id %>
        <% next %>
    <% else %>
        <p class="user-class-<%= user.id %>">
            <%= user.id %>
            <%= user.email %> <%= link_to "send friend request", user_friendrequests_path( current_user.id, receiver_id: user.id), method: :post, remote:true %>
        </p>
    <% end %>

<% end %>

<br>
<br>

<br><br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>




