You are logged in as <%= current_user.name %><br><br>

<%= @post.title %> <br>
<%= @post.body %> <br>
<div id="comments_id" >

    <% @all_comments.each do |allcomment|    %>
        <%= render 'partial/deleting_user_comment', user_comment:allcomment %>
    <% end %>
</div>
<%= form_with(model:[current_user, @post, @comment], local: false) do |f| %>
    <div>

        <%= f.label :comment %>
    </div>
    <div>

        <%= f.text_area :body %>
    </div>
    <div>

        <%= f.submit %>
    </div>
<%  end %>
<br>
<%= link_to "Back", root_path %>