You are logged in as <%= current_user.name %><br><br>
<div class="user-unique-post">
    <% if User.find(@post.user_id).image.attached? %>
        <%= image_tag(User.find(@post.user_id).image, class:"user-profile-image") %>
              
    <% else %>
              
    <% end %>

    <div class="user-info"> 
        <div class="edit-line-comment"></div>
        <p class="user-post-username"><%= link_to User.find(@post.user_id).name, user_profile_page_path(@post.user_id), class:"link-to-title" %></p> 
        <p class="user-post-time"><%= @post.created_at.strftime("%d/%b/%y") %> </p> 
        <div class="post-content"><%=  @post.body %></div>
        <% if @post.user_id == current_user.id %>
            <%= link_to "Delete", user_post_path(current_user.id, @post.id), method: :delete, remote: true, class:"delete-button btn btn-outline-light" %>  
            <%= link_to "Edit", edit_user_post_path(current_user.id, @post.id), class:"btn1 btn btn-outline-light" %> 
        <% end %>
    </div>


   
</div>

<div class="user-unique-post">
    <div id="comments_id" >
        <% @all_comments.each do |allcomment|    %>
        <%= render 'partial/deleting_user_comment', user_comment:allcomment %>
        <% end %>
    </div>
</div>
<%= form_with(model:[current_user, @post, @comment], local: false) do |f| %>
    <div>

        <%= f.label :comment %>
    </div>
    <div>

        <%= f.text_area :body %>
    </div>
    <div>

        <%= f.submit %>
    </div>
<%  end %>
<br>
<%= link_to "Back", root_path %>